:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --accent-color-active: #188CE8;
    --primary-white-color: #FFFFFF;
    --light-gray-color: #F5F4FA;
    --dark-gray-color:  #2F303A;
    --white-color-60transp: #FFFFFF99; 
}

body {
        font-family: Roboto, sans-serif;
        font-weight: 400;
        background-color: var(--primary-white-color);
        color: var(--primary-text-color);
        letter-spacing: 0.03em;
        font-style: normal;
        text-decoration: none; 
}

.image {
    display: block;
    max-width:100%;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px
}

.logo,
.color-logo {
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    text-decoration: none;
}

.color-logo {
    color: var(--accent-color)
}

.footer .logo {
    color: var(--primary-white-color)
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: start;
}


.header {
    border-bottom: 1px solid #ECECEC;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none; 
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item:not(:first-child) {
    margin-left: 50px;
}

.contact-nav {
    display: flex;
    margin-left: auto;
}

.contact-nav .item + .item {
    margin-left: 50px;
}

.contact-icon {
    outline: 1px solid red;
    width: 10px;
    height: 16px;
}

.address .link:hover,
.address .link:focus,
.contact-link:hover,
.contact-link:focus,
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.contact-link {
    display: block;
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
 
.hero {
    background-color: var(--dark-gray-color);
    background-image: url(../images/background.jpg); 
    background-image: linear-gradient (rgba(47, 48, 58, 0.4));
    text-align: center;
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero-title { 
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}

.hero-button {
    padding: 10px 32px;
    min-width: 216px;
    font-family: inherit;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em; 
    border-radius: 4px;
    cursor: pointer;
    border: 0;
}   


.hero-button:hover,
.hero-button:active {
    background-color: var(--accent-color-active);
}

.feature-list {
    display: flex;
}

.feature-list .item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    
}
.feature-list .item:last-child {
    margin-right: 0px;
}

.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    margin-bottom: 13px;
    
}
   
.feature-descript {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.team .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1666;
    text-align: center;
    margin-bottom: 50px;
}

.activity {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

 .section.activity {
     padding-top: 0;
 }

.activity .section-title {
    margin-bottom: 50px;
    padding-top: 0;
}

.act-list {
    display: flex;
    flex-wrap: wrap;
}

.act-list .item {
    margin-right: 30px;
}

.act-list .item:last-child {
    margin-right: 0;
}

.team {
    background-color: var(--light-gray-color);
    margin-left: auto;
    margin-right: auto;  
}

.team .position {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.187;
}

.team-member {
    padding-top: 30px;
    padding-bottom: 30px;
}

.name {
    margin-bottom: 10px;
}

.member-card {
    display: flex;

}

.member-card .item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
    display: inline-block;
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
}

.member-card .item:last-child {
    margin-right: 0;
}

.social-icon {
    fill:rgba(0, 0, 0, 0.25);
    width: 44px;
    height: 44px;
    
}


.filter-buttons {
    margin-right: 8px;   
}

.btn {
    display: inline-block;
    font-family: inherit;
    background-color: var(--light-gray-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    border: 0;
}

.btn:hover,
.btn:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

.filter-buttons:last-child {
    margin-right: 0;
}

.title-description {
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color)
}


.projects .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}


.footer {
    background-color: var(--dark-gray-color); 
    padding-top: 60px;
    padding-bottom: 60px;
}


.address .link {
    display: inline-block;
    font-style: normal;
    color:var(--white-color-60transp);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.portfolio-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
         

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.project-names {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-top: 0;
}


.flex-container .flex-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

 
.flex-container .flex-item:nth-child(3n){
    margin-right: 0;
}

.flex-container .flex-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.flex-container .flex-item:hover,
.flex-container .flex-item:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}


.footer .color-logo {
    display: inline-block;
    margin-bottom: 20px;
}

.address .maps {
    font-style: normal;
    color: var(--primary-white-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.address .item:not(:last-child) {
    margin-bottom: 9px;
}